<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
<div class="main">
    <%- include('partials/header') %>
    <div class="content container-fluid page-index">
        <h1>Main page</h1>
        <div class="row">
            <div class="col-sm-4">
                <p>This is a build system for when you need to just make some HTML pages. No React, Angular, just some simple pages. With Bootstrap, maybe even with jQuery (soooo 2010, right?)</p>
                <p>It works simple and fast, if you keep your JS/CSS modular.</p>
                <p>The code of this example should be quite enough to understand what's what.</p>
            </div>
            <div class="col-sm-4">
                <p>I clearly suck at writing text, don't I?</p>
            </div>
            <div class="col-sm-4">
                <p>I'm just a third column, move along.</p>
            </div>
        </div>
    </div>
</div>
<%- include('partials/scripts') %>
</body>
</html>