<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>

<div class="main">
    <%- include('partials/header') %>
    <div class="content page-about">
        <div id="map" data-lat="41.84201" data-lon="-89.485937"></div>
        <div class="page-about__text">
            <p>As you can see from Google Maps API demonstration, I have a really good sense of humor!</p>
        </div>
    </div>
</div>
<%- include('partials/scripts') %>
</body>
</html>