<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>

<%- include('partials/nav') %>

<div class="container-fluid page-projects">
    <h1>Hello World!</h1>
    <p>Resize the browser window to see the effect.</p>
    <div class="row">
        <div class="col-sm-4" style="background-color:lavender;">.col-sm-4</div>
        <div class="col-sm-4" style="background-color:lavenderblush;">.col-sm-4</div>
        <div class="col-sm-4" style="background-color:lavender;">.col-sm-4</div>
    </div>
</div>
<%- include('partials/scripts') %>
</body>
</html>