<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>

<%- include('partials/nav') %>

<div class="container page-projects">
    <h1>Projects.</h1>
    <p>Here we have a list of block arranged with Isotope's packery layout.</p>
    <div class="projects">
        <div class="projects__item _2w">
            <div class="projects__item__wr">
                <div class="projects__item__content">
                    <h2>Project</h2>
                    <p>And some SVG background</p>
                </div>
            </div>
        </div>
        <div class="projects__item _2h">
            <div class="projects__item__wr">
                <div class="projects__item__content">
                    <h2>Project</h2>
                    <p>And some SVG background</p>
                </div>
            </div>
        </div>
        <div class="projects__item">
            <div class="projects__item__wr">
                <div class="projects__item__content">
                    <h2>Project</h2>
                    <p>And some SVG background</p>
                </div>
            </div>
        </div>
        <div class="projects__item">
            <div class="projects__item__wr">
                <div class="projects__item__content">
                    <h2>Project</h2>
                    <p>And some SVG background</p>
                </div>
            </div>
        </div>
        <div class="projects__item">
            <div class="projects__item__wr">
                <div class="projects__item__content">
                    <h2>Project</h2>
                    <p>And some SVG background</p>
                </div>
            </div>
        </div>
        <div class="projects__item">
            <div class="projects__item__wr">
                <div class="projects__item__content">
                    <h2>Project</h2>
                    <p>And some SVG background</p>
                </div>
            </div>
        </div>
        <div class="projects__item _2w">
            <div class="projects__item__wr">
                <div class="projects__item__content">
                    <h2>Project</h2>
                    <p>And some SVG background</p>
                </div>
            </div>
        </div>
        <div class="projects__item">
            <div class="projects__item__wr">
                <div class="projects__item__content">
                    <h2>Project</h2>
                    <p>And some SVG background</p>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/scripts') %>
</body>
</html>