<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Рокс</title>
    <% if (env == 'production') { %>
    <link href="/css/main.css?<%= hash %>" rel="stylesheet">
    <% } %>
    <style>
        LI { font-size: 1.6rem !important; padding: 15px !important; }
    </style>
</head>
<body>
<ul>
    <li><a href="./01_index.html">1. Main page</a></li>
</ul>
<%- include('partials/scripts') %>
</body>
</html>