%svg-ornament {
	background-image: url(~/img/vector_ornaments.svg);
}

%svg-corner-floral-ornament {
	background-image: url(~/img/corner-floral-ornament.svg);
}

%svg-Ornament-15-SVG {
	background-image: url(~/img/Ornament-15-SVG.svg);
}